.vs
packages
Test*
SAW_TRAY_VISION_V01/obj
SAW_TRAY_VISION_V01/packages/Alturos.Yolo.2.6.2
SAW_TRAY_VISION_V01/bin/Debug
SAW_TRAY_VISION_V01/bin/Release
SAW_TRAY_VISION_V01/bin/x64/Release
SAW_TRAY_VISION_V01/bin/x64/Debug/outputs
SAW_TRAY_VISION_V01/bin/x64/Debug/*.dll
SAW_TRAY_VISION_V01/bin/x64/Debug/x64
SAW_TRAY_VISION_V01/bin/x64/Debug/*.txt
SAW_TRAY_VISION_V01/bin/x64/Debug/*.exe
SAW_TRAY_VISION_V01/bin/x64/Debug/*.config
SAW_TRAY_VISION_V01/bin/x64/Debug/*.pdb
SAW_TRAY_VISION_V01/bin/x64/Debug/.vs
SAW_TRAY_VISION_V01/bin/x64/Debug/sources/algorithm/cfg/yolov3-itn-fullbox_last.weights
SAW_TRAY_VISION_V01_SETUP/Debug/*
SAW_TRAY_VISION_V01_SETUP/Release/*
SAW_TRAY_VISION_V01/bin/x64/Debug/images
SAW_TRAY_VISION_V01/bin/x64/Debug/logs

